<!DOCTYPE html> 
<html> 
    <head> 
        <title>aaa</title> 
        <link rel='stylesheet' href='/stylesheets/style.css' /> 
    </head> 
        <h1>bbb</h1> 
        <p>Welcome to bbb</p> 
</html>
